/* ============================================
HELPER CLASSES
============================================ */
.bg-white{background-color:#fff;}
.bg-grey{background-color:#eee;}
.bg-lt-grey { background: #fff; }

.bg-blue { background: #1a264a;}
.box-shadow{    box-shadow: 0 0 6px 1px rgba(0,0,0,0.15);
}
.text-white{color:#fff;}
.text-black{color:#17110e;}
.inline-block{display:inline-block;}
.center-block{margin:auto; display:block; float:none;}
.no-margin{margin:0;}
.m-t-none{margin-top:0;}
.m-t-xs{margin-top:10px;}
.m-t-sm{margin-top:15px;}
.m-t-md{margin-top:40px;}
.m-t-lg{margin-top:50px;}
.m-t-xl{margin-top:110px;}
.m-t-xxl{margin-top:130px;}
.m-b-none{margin-bottom:0;}
.m-b-xs{margin-bottom:10px;}
.m-b-sm{margin-bottom:15px;}
.m-b-md{margin-bottom:40px;}
.m-b-lg{margin-bottom:50px;}
.m-b-xl{margin-bottom:110px;}
.m-b-xxl{margin-bottom:130px;}
.m-l-xxs{ margin-left: 5px}
.m-l-xs{ margin-left: 10px}
.m-l-sm{ margin-left: 15px}
.m-r-xxs{ margin-right: 5px}
.m-r-xxs{ margin-right: 10px}
.m-r-xxs{ margin-right: 15px}

.no-padding{padding: 0;}
.p-h-none{padding-top:0px; padding-bottom:0px;}
.p-h-xxs{padding-top:5px; padding-bottom:5px;}
.p-h-xs{padding-top:10px; padding-bottom:10px;}
.p-h-sm{padding-top:15px; padding-bottom:15px;}
.p-h-md{padding-top:30px; padding-bottom:30px;}
.p-h-lg{padding-top:0px; padding-bottom:40px;}
.p-h-xl{padding-top:60px; padding-bottom:60px;}
.p-h-xxl{padding-top:75px; padding-bottom:75px;}
.p-w-none{padding-left:0; padding-right:0;}
.p-w-xxs{padding-left:5px; padding-right:5px;}
.p-w-xs{padding-left:10px; padding-right:10px;}
.p-w-sm{padding-left:15px; padding-right:15px;}
.p-w-md{padding-left:20px; padding-right:20px;}
.p-w-lg{padding-left:30px; padding-right:30px;}
.p-l-none{padding-left:0;}
.p-r-none{padding-right:0;}


.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    outline: none;
    outline-offset: 0;
    box-shadow: none;
}
.btn-blue {
    font-size: 14px; text-transform: uppercase;
    transition: all 0.5s;
    color: #fff !important;
    border: 1px solid #0090e9;
    background: #0090e9;
    padding: 5px 10px;
    display: inline-block;
    font-weight: 400;

}
.btn-blue:hover, .btn-blue:focus { color: #fff; background: #343399; border-color: #343399;}

.btn-blue-outline {
border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.5s;
    color: #0090e9;
    border: 1px solid #0090e9;
    background: transparent;
    padding: 5px 10px;
    display: inline-block;
}

.btn-blue-outline:hover, .btn-blue-outline:focus {
    transition: all 0.5s;
    background: #0090e9;
    color: #fff;
}

.btn-blue-outline.btn-sm, .btn-blue.btn-sm {
    padding: 4px 7px 3px;
    font-size: 12px;
    text-transform: capitalize;
}
.btn-blue.btn-lg, .btn-blue-outline.btn-lg {
    padding: 8px 20px;
    font-size: 18px;
    line-height: normal;
    font-weight: 600;
}

.btn-white-outline {
     font-size: 14px;
    font-weight: 400;
border-radius: 0;
    transition: all 0.5s;
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    padding: 5px 25px;
    display: inline-block;
    text-transform: uppercase;}

.btn-white-outline:hover, .btn-white-outline:focus { background: #fff; color: #222; transition: all 0.5s;}

.btn-link-blue
{
color: #0090e9;
}
.btn-link-blue:hover, .btn-link-blue:focus
{
color:#343399;
}


/*=============================================
social icon
=============================================*/
.social-icon { margin-top: 20px;}
.social-icon ul li {
    transition: all 0.8s ease 0s;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    padding: 3px 0;
}
.social-icon ul li:hover { border-color: #fff;}
.foot-link li p span {
    margin-right: 15px;
}
.foot-link li a span {
    margin-right: 15px;
}
.social-icon li a span {
    margin-right: 0;
    font-size: 16px;
    color: #c3c3c3;
}
.social-icon li a { padding:0; }

/*=============================================
social icon end
=============================================*/
.space{ margin-top: 2pc;
    margin-bottom: 2pc;
}

/*=============================================
hiring inner page
=============================================*/
.page-header {
    position: relative;
       background: url(../images/page-header.jpg) top left no-repeat;
    background-size: cover;
    margin: 0;
    border:none;
	    padding: 90px 0 100px;
}
.page-header .page-title {
    text-align: center;
    color: #fff;
    font-size: 50px;
	font-weight:700;

}
.guard-hiring-header {
    background: url(../images/guard-hiring-header.jpg) top left no-repeat;
    background-size: cover;
}

.ex-force-header {
    background: url(../images/ex-force-header.jpg) top left no-repeat;
    background-size: cover;
}

.white-collar-header {
    background: url(../images/white-collar-header.jpg) top left no-repeat;
    background-size: cover;
}

.hiring-pg-header{
    padding: 100px 0 185px;
}
.page-header .searchbar {
    background: rgba(0,0,0,0.3);
    padding-top: 25px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.page-header .searchbar .form-control:focus {
    border-color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.page-header .searchbar .btn-blue { font-size: 18px;}

.result-list {
    background: #fff;
    padding: 15px 0 0;
    box-shadow: none;
    width: calc(100%/2 - 20px);
    float: left;
    margin: 10px;
    border: 1px solid #eee;
    height: 353px;
    overflow-y: auto;
    transition: all 0.5s;
}

.result-list:hover {
    background: #fff;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.2);
        border: 1px solid #fff;
    transition: all 0.5s;
}
.result-list-img {
    width: 15%;
    height: auto;
    float: left;
    margin-right: 15px;
    overflow: hidden;
    max-height: 100px;
}

.result-list-img img {
    width: 100%;
    /*border-radius: 50%;*/
}


.result-list-con {
    width: 85%;
    float: left;
    margin-right: -15px;
}

.result-list-con .job-title {
    float: left;
    margin-right: 10px;
    transition: all 0.5s;
    text-transform: capitalize;
    font-size: 16px;
    width: 65%;
    line-height: 26px;
    min-height: 52px;
    margin: 6px 10px 6px 0 !important;
    align-items: center;
    display: flex;
}


.result-list-con .job-location {
float: left;
margin-right: 7px;
margin-top: 18px;
border: 1px solid #ddd;
padding: 5px;
font-size: 12px;
}

.result-list-con h5 span {
    color: #0090e9;
    margin-right: 5px;
}

.result-list-con .job-employer {

    float: right;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 18px 0 0;

}
.result-list-con .job-info {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    float: left;
    width: 100%;
    font-size: 12px;
color: #333;
font-weight: 500;
}
.result-list-con .job-info:last-child{
    border-bottom:none;
    padding-bottom: 15px;
}
.result-list-con .job-info p{
margin: 0;
font-size: 12px;
color: #333;
}

.rating span {
    display: inline-block;
    color: #ffa801;
    font-size: 18px;
    margin-right: 5px;
}
.rating span:last-child {
    margin-right: 0;
}
.rating {
    position: relative;
    padding: 36px 0;
}
.rating:before {
    position: absolute;
    width: 1px;
    height: 120px;
    content: "";
    left: -14px;
    top: -15px;
    background:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+25,000000+50,e5e5e5+75&0+0,0.5+50,0+100 */
background: -moz-linear-gradient(top, rgba(242,242,242,0) 0%, rgba(242,242,242,0.25) 25%, rgba(0,0,0,0.5) 50%, rgba(229,229,229,0.25) 75%, rgba(229,229,229,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(242,242,242,0) 0%,rgba(242,242,242,0.25) 25%,rgba(0,0,0,0.5) 50%,rgba(229,229,229,0.25) 75%,rgba(229,229,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(242,242,242,0) 0%,rgba(242,242,242,0.25) 25%,rgba(0,0,0,0.5) 50%,rgba(229,229,229,0.25) 75%,rgba(229,229,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2f2f2', endColorstr='#00e5e5e5',GradientType=0 ); /* IE6-9 */
}
.rating:after {
    position: absolute;
    width: 1px;
    height: 120px;
    content: "";
    right: -14px;
    top: -15px;
    background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+25,000000+50,e5e5e5+75&0+0,0.5+50,0+100 */
background: -moz-linear-gradient(top, rgba(242,242,242,0) 0%, rgba(242,242,242,0.25) 25%, rgba(0,0,0,0.5) 50%, rgba(229,229,229,0.25) 75%, rgba(229,229,229,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(242,242,242,0) 0%,rgba(242,242,242,0.25) 25%,rgba(0,0,0,0.5) 50%,rgba(229,229,229,0.25) 75%,rgba(229,229,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(242,242,242,0) 0%,rgba(242,242,242,0.25) 25%,rgba(0,0,0,0.5) 50%,rgba(229,229,229,0.25) 75%,rgba(229,229,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2f2f2', endColorstr='#00e5e5e5',GradientType=0 ); /* IE6-9 */
}
.exp-btn {
    padding: 0;
    margin-top: 14px;
}
.pagination {
    margin: 20px 0;
    text-align: center;
    width: 100%;
}

/*=============================================
Profile section
=============================================*/
.account-sec .tab-content > .tab-pane { padding: 15px;}
#profile .nav-tabs > li.active > a, #profile .nav-tabs > li.active > a:hover, #profile .nav-tabs > li.active > a:focus { color: #ffffff;  background-color: #0090EB; border: 1px solid #0090EB;}
#profile .nav-tabs > li > a:hover { border-color: #111 #111 #111; background: #111; color: #fff;}
#profile .nav-tabs {border-bottom: 1px solid #0090EB;}
.table-row {display: flex; display: -moz-flex; display: -webkit-flex;border: 1px solid #e5e5e5; margin-bottom:-1px;}
.table-row .table-header { flex: 1;padding:10px 15px; border-right: 1px solid #e5e5e5;}
.table-row .table-header p{ margin:auto;}
.table-row .table-content{flex:2;padding:12px 15px; border-right:1px solid #e5e5e5;}
.table-row .table-content:last-child{border-right:0;}
.table-row .table-content p{margin:auto;}
.profile-sec .form-group {  width: 100%; }
.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}
.edit-btn {
   /* position: absolute;
    right: 15px;
    top: 0;*/
    padding: 0px;
    float: right;
    background: transparent;
    color: #fff;
}
.edit-btn-proffesional {
    position: absolute;
    right: 15px;
    top: 330px;
    padding: 10px;
    background: transparent;
    color: #fff;
}

.edit-btn-docu {
    position: absolute;
    right: 15px;
    top: 705px;
    padding: 10px;
    background: transparent;
    color: #fff;
}

.sidebar-title {
color: #fff; padding: 0 15px; line-height: 50px; text-transform: capitalize; margin:0 auto 15px; font-size:20px; background: #0090EB;background: -moz-linear-gradient(45deg, #0090eb 0%, #0090eb 100%);background: -webkit-gradient(left bottom, right top, color-stop(0%, #0090eb),color-stop(100%, #0090eb));background: -webkit-linear-gradient(45deg, #0090eb 0%, #0090eb 100%);background: -o-linear-gradient(45deg, #0090eb 0%, #0090eb 100%);
background: -ms-linear-gradient(45deg, #0090eb 0%, #0090eb 100%);background: linear-gradient(45deg, #0090eb) 0%, #0090eb);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8000', endColorstr='#ff6600', GradientType=1 );
}
.profile-blk {  box-shadow: 0 0 10px -1px rgba(0,0,0,0.30); border-radius: 2px;	margin: 15px auto;}
.profile-img { width: 100%; overflow: hidden; position: relative;}
.profile-img img{  width: 100%;height:auto;}
.profile-info {  padding: 0 15px;}
.profile-blk h4 {  padding: 0 15px;  line-height: 45px;margin: 0 auto 15px; border-bottom: 1px solid #e5e5e5;}
.profile-blk-btm { width: 100%;  border-top:1px solid #e5e5e5;}
.profile-blk-btm a{color:#333; line-height: 40px; text-transform:uppercase; background:#fff;border-radius:0; transition: all 0.3s ease 0s;}
.profile-blk-btm a:hover{color:#fff; background:#0090eb;}

/*----------------------- talent profile ------------------------ */
.profile-img { width: 100%;  height: auto;max-height: 250px; overflow: hidden;}
.profile-img img{ width: 100%; height: auto;}
.profile-main { position: relative;}
.profile-gal img{ width: 100%; height:auto;}
.profile-main .sub-section-title { margin: 0 auto 15px; padding: 12px 10px;  color:#fff; background: #545454;border-left: 5px solid #0090eb;float: left;  width: 100%;}

.profile-main .sub-section-title h3 {  font-size: 16px;text-transform: uppercase; color:#fff; float: left; }

.profile-main .table-header,.profile-main .table-content { padding: 10px;}
.profile-main .role-title { color: #111; padding: 0 10px; margin: 20px auto 10px;}


/*=============================================
popup form
=============================================*/
.modal-header {
    border-bottom: 0;    
}
.popup-form .btn-blue { width: 100%; }


/*=============================================
login page
=============================================*/
.login input[type="text"], .login input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}
/*
.login .btn-blue {
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
    border-radius: 2px;    
}*/
.login .btn-blue:hover { background: #fff; border-color: #0090e9; color: #0090e9 !important;}

/*.login .btn-blue-outline { border-radius: 2px; width: 100%; padding: 14px 20px; margin: 8px 0; }*/

button:hover {
    opacity: 0.8;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

/*.container {
    padding: 16px;
}
*/
span.psw a {
    color: #0090e8;
    padding: 8px 0;
}

.login h2 { margin-top: 0;}

.page-header .searchbar input {
    color: #000;
}
.modal input {
    color: #000;
}
.form-control option {
    color: #000;
}
select#user_type {
    color: #000;
}

.post-job select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}
.post-job span
{
    color: red;    
}
/*.result-list-con {
    width: 87%;
    float: left;
}*/
.profile-sidebar .rating:before {
    display: none;
}
.profile-sidebar .rating:after {
    display: none;
}
.apply-now input {
    color: #a59999;
}

.page-header .searchbar .form-control {
    margin: auto !important;
}


.clint{    border: 2px solid #fff;
    padding: 20px;
    margin: 20px;
    width: 20% !important;}
/*=============================================
about page 
=============================================*/
.about-pg-header
{    background: url(../images/about-header.jpg) top left no-repeat;
    background-size: cover;
}

.sec-img
{
padding:0;
margin-right:30px;
margin-bottom:15px;	
}

/*=============================================
contact page 
=============================================*/
.contact-pg-header
{    background: url(../images/contact-pg.jpg) top left no-repeat;
    background-size: cover;
}
.inner-sec .client, .inner-sec .media {

    padding: 50px 0;
    text-align: center;
    border-top: 1px solid #f1f1f1;

}

.inner-sec .media
{
	padding-bottom:0;
}



.inner-cont-form .btn-white-outline {
    color: #0090E9;
    border: 1px solid #0090E9;
}
.inner-cont-form .btn-white-outline:hover {
    opacity: 1;
    background: #0090E9;
    color: #fff;
}
.inner-cont-form .form-shadow {
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2);
    padding:15px 15px 15px 15px;
}
.inner-cont-form .form-control:focus {
    border-color: #0090e9;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.inner-cont-form .form-group:last-child { margin-bottom: 0;}
.inner-cont-form .form-control {
    border-color: #ddd;
    color: #222;
}
.con-page-detail .con-sec-title { color: #0090E9; font-size: 28px; padding-bottom: 10px; margin-top: 0;}
.con-page-detail p {
    font-size: 16px;
    margin-bottom: 20px;
}
.con-page-detail {
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2);
    padding: 15px 15px 15px 15px;
}
.form-shadow .con-sec-title {
    color: #0090E9;
    font-size: 28px;
    padding-bottom: 10px;
    margin-top: 0;
}

.inner-sec {padding: 50px 0;}
.con-page-detail .social-icon li a span {
    transition: all 0.5s;
    color: #979797;
}
.con-page-detail .social-icon ul li {
    border: 1px solid #979797;
}
.con-page-detail .social-icon ul li:hover {
    border-color: #0090E9;
}
.con-page-detail .social-icon ul li:hover a span {
    color: #0090E9;
}
#error_span {
    color: #ff0000;
}

.profile-sidebar .rating {
    padding: 0px !important;
}

.max-height-div {
    max-height: 50px;
    overflow-y: auto;
}
.copyright
{
    float: left;
}
.design-dev
{
    float: right;
}

.edit-btn-proffesional-info {
    position: absolute;
    right: 15px;
    top: 526px;
    padding: 10px;
    background: transparent;
    color: #fff;
}

select {
    color: #000 !important;
}

.btn-fb {
    border: none;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: normal;
    transition: all 0.3s ease-in-out 0s;
    background-color: #445f98;
    float: left;
    width: 100%;
    font-size: 13px;
    /*margin: 5px;*/
    /*margin-left: 13px;*/
}

.btn-gmail {
    border: none;
    border-radius: 4px;
    color: #fff;
    /*padding: 10px 15px;*/
    text-transform: uppercase;
    line-height: 40px;
    font-weight: normal;
    transition: all 0.3s ease-in-out 0s;
    background-color: #e83344;
     float: left;
    width: 100%;
    font-size: 13px;
    /*margin: 5px;*/

}

.btn-linkedin {
    border: none;
    border-radius: 4px;
    color: #fff;
    /*padding: 10px 15px;*/
    text-transform: uppercase;
    line-height: 40px;
    font-weight: normal;
    transition: all 0.3s ease-in-out 0s;
    background-color: #0084bf;
     float: left;
    width: 100%;
    font-size: 13px;
    /*margin: 8px;*/
    
}

a:hover {
    color: #fff;
}

.login input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

.inner-sec.inner-cont-form
{
    padding-bottom: 0;
}

.inner-sec ul li {
    font-size: 15px;
 /*   margin: 10px 0; */
    color: #555;
    line-height: 28px;
}
.policy-sec ul {
    margin-bottom: 20px;
}


.policy-sec h3 {
    margin: 20px auto;
    font-size: 22px;
}
.policy-sec h5 {
    margin-bottom: 20px;
    font-size:16px; 
    line-height: 28px;
}
input#regiter_type {
    width: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

/*--------------- newly added --------------------*/

.guard-hiring
{
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
}

.guard-h-content-1
{
flex: 5;
-webkit-flex:5;
-ms-flex:5;
}

.guard-h-content-2
{
flex: 7;
-webkit-flex:7;
-ms-flex:7;
}


.subscribe-sec
{
    background-color: #0090eb;
}

.subscribe-sec .form-control {
    border: 1px solid #fff;
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent;
    color: #fff;
}
.subscribe-sec .form-control::placeholder
{
    color: #fff;
}
.subscribe-sec .input-group {
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.10);
}
.subscribe-sec button {
    min-height: 40px;
    background-color: #fff;
    color: #222;
}

.subscribe-sec button:hover{
    opacity: 1;
}


.work-process-wrap {
    margin-top: 15px;
    float: left;
    position: relative;
}

.work-process-wrap::before {
    position: absolute;
    left: 1%;
    top: 30%;
    width: 100%;
    z-index: -1;
    content: "";
    background-image: url(../img/work-process-pat.svg);
    height: 100px;
    background-position: left top;
    background-size: 100% auto;
    width: 98%;
    background-repeat: no-repeat;
}


.work-process-blk {
    margin: 15px auto;
}
.work-process-blk:nth-child(2) {
    transform: translateY(-10px);
}

.work-process-blk:nth-child(3) {
    transform: translateY(-10px);
}
.work-process-wrap .work-process-blk .work-process-icon {
     max-width: 90px;
    margin: 0 auto 30px !important;
    box-shadow:0 0 8px 1px rgb(35, 35, 112);
    border-radius: 50%;
    height: 95px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 0px;
    padding: 25px 20px;

}
.bk {
    border-left: 2px solid #232370;
}
.foot-logo img
{
    filter: grayscale(100%);
    margin: 15px auto 0;
}



.update-sec .nav.nav-tabs {
    width: 100%;
    float: left;
}

.update-sec .nav-tabs > li {
    margin-bottom: auto;
    width: calc(100%/3);
}

.update-sec .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none !important;
    border-radius: 0;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #222;
}

.update-sec .nav-tabs > li.active > a, .update-sec .nav-tabs > li.active > a:hover, .update-sec .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #0090E9;
}

.update-sec .nav-tabs > li > a:hover {
    background-color: #0090E9;
    color: #fff;
}

.update-sec .tab-content {
    width: 100%;
    float: left;
    padding:15px;
}

.update-sec .tab-content .panel-heading {
    background-color: #fff;
    border: none;
}

.update-sec .tab-pane#by-location a {
    display: block;
    border: 1px solid #e4e4e4;
    color: #222;
    font-size: 16px;
    padding: 10px;
    transition: all 0.3s;
}

.update-sec .tab-pane#by-location a:hover {
    border: 1px solid #0090E9;
    color: #0090E9;
}

.update-sec .security-content {
    border: 1px solid #e4e4e4;
    margin: 15px auto;
}

.update-sec .tab-pane#by-location ul li {
    margin: 15px auto;
}



/*----------- topnav css ----------------- */
.top-strip {
position: relative;
}
    .top-strip::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    height: 100%;
    width: 15%;
    background: #0090eb;
    z-index: 0;
}
.top-nav {
    margin: auto;
    padding: 10px 15px 10px 5px;
    background: #0090eb;
    position: relative;
    z-index: 1;
}

.top-nav:before
{
position: absolute;
content: "";
left:-12px;
top: 0;
height: 100%;
width: 20px;
transform: skew(-20deg); 
background: #0090eb;
z-index: -1;
}

.top-nav li {
    display: inline-block;
    margin-right: 15px;
}

.top-nav li a {
    color: #fff;
    border-right: 1px solid rgba(255,255,255,0.30);
    padding-right: 15px;
        text-decoration: none;
        transition: all 0.3s;
}

.top-nav li a:hover {
    text-decoration: underline;
}

.top-nav li:last-child {
margin-right: 0;
}
.top-nav li:last-child a {
  border-right:none;
  padding-right: 0;
}


.lms-blk .section-title {
    margin-bottom: 20px;
}


ul.login-menu {
    padding: 15px 10px;
    left: 50% !important;
    width: 240px !important;
    margin-left: -120px !important;
}

.login-menu li {
    width: calc(100%/2 - 10px) !important;
    float: left;
    margin: 0 5px !important;
    text-align: center;
}

.login-menu li a {
    color: #0290eb !important;
    border: 1px solid #0290eb !important;
    background-color: transparent;
}


/*---------- blog css ---------------*/

.blog-pg-header
{
background: url(../images/blog-pg-header.jpg) top left no-repeat;
}

.blog-panel{ background: #fff; box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2); display: block; overflow: hidden;}
.blog-panel img { width: 100%;}
.blog-panel-title { font-weight: 500; margin: 15px 0; width: 100%; line-height: 1.5; }
.blog-panel-details {margin-bottom: 15px;}
.blog-panel-details p {
    margin: 0;
    margin: 0 5px;
}
.blog-panel-details span {margin-right: 4px; color: #0090e9;}

.blog-pg-header .blog-title {
    font-size: 40px;
    font-weight: 600;
    text-transform: none;
}


.blog-img {
    height: 220px;
    overflow: hidden;
}
.blog-sidebar {
    overflow-y: auto;
}

.inner-cont-form textarea.form-control {
    height: 200px;
}

.blog-pg-header {
    background-size: cover;
}

.register-menu
{
float: right;
    display: inline-block;
    position: relative;
    transition: all 0.5s;
    margin-right: 30px;
    display: block;
    padding: 10px 5px;
    border-top: 1px solid rgba(0,0,0,0);
    border-bottom: 1px solid rgba(0,0,0,0);
    transition: all 0.2s ease 0s;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
    }

    a.login-menu {
    border-right: 3px solid #0290eb;
    padding-right: 5px;
}

.work-process-sec ul {
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto 30px;
    border:none;
}

.work-process-sec .nav-tabs > li {
    float: none;
    margin-bottom: -1px;
    display: inline-block;
}

.work-process-sec .nav-tabs > li > a {
  border: 1px solid #0090e9 !important;
    background-color: #fff;
    border-radius:0;
    color: #0090e9;
}


.work-process-sec .nav-tabs > li.active > a, .work-process-sec .nav-tabs > li.active > a:hover, .work-process-sec .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color:#0090e9;
    border: 1px solid #0090e9 !important;
    border-radius:0;
}
.section-titles{color: #232370;}
.section-title{color:#242471;font-weight: 600;}
.text-capitalize{color: #232370;}
#home .work-process-blk {
   
  width: calc(100%/5 - 20px);
    margin: 15px 5px;
    float: left;
}

#home .work-process-wrap
{
    width: 50%;
}

 #home .work-process-blk:nth-child(4) {
    transform: translateY(-10px);
}

.exp-btn .btn-blue-outline {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.5s;
    color: #0090e9;
    border: 1px solid #0090e9;
    background: transparent;
    padding: 5px 5px;
    display: inline-block;
}


.title .rating {
    position: absolute;
    padding: 36px 0;
    margin-top: 10px;
}
.title .rating:before {
    position: absolute;
    width: 1px;
    height: 60px;
    content: unset;
    left: -14px;
    top: 15px;
}

.title .rating:after {
    position: absolute;
    width: 1px;
    height: 60px;
    content: unset;
    left: -14px;
    top: 15px;
    }

    .title .rating span {
    display: inline-block;
    color: #ffa801;
    font-size: 14px;
    margin-right: 5px;
}
.guard-jobs
{
width: 100%;
float: left;
padding: 15px;
border-top: 1px solid #eee;
}

.guard-jobs li {
    margin-bottom: 10px;
    width: auto !important;
    margin-right: 10px;
}




#home_slider_pager .panel-group, #home_slider_pager .panel {
     margin-bottom: 0px; 
     border-radius: 0px; 
}

#home_slider_pager .panel-default {
    border-color: #ddd;
}

#home_slider_pager .panel {
     margin-bottom: 0px; 
     background-color: transparent; 
     border: none; 
    border-radius: 0px; 
     box-shadow: none; 
}

#home_slider_pager .panel-default > #home_slider_pager .panel-heading {
     color: transparent; 
     background-color:transparent; 
     border-color: transparent; 
}


#home_slider_pager .panel-group .panel-heading {
     border-bottom: 0; 
}

#home_slider_pager .panel-heading {
     padding: 0px; 
     border-bottom: none;
     border-top-left-radius: 0px; 
     border-top-right-radius: 0px; 
     overflow: hidden; 
}
#home_slider_pager .panel-group {
     margin-bottom: 0px; 
}

#home_slider_pager .panel-group .panel + .panel {
     margin-top: 0px; 
}



/**
.section-title:after {
	content: "";
    width: 250px;
    height: 3px;
    background: #ffffff;
    bottom: 0;
    left: 42%;
    margin-left: -25px;
    position: absolute;
}**/