
	.calendar {
		width: 280px; /* 7 * -width- */
		font-size: 14px;
		user-select: none;
	}
	.calendar-table {
		table-layout: fixed;
		border-spacing: 0;
		border-collapse: collapse;
	}
	.calendar-cell {
		line-height: 40px;
		width: 40px;
		text-align: center;
	}
	.calendar-day-name {
		font-size: 12px;
		line-height: 20px;
		padding-top: 10px;
		color: #BBB;
	}
	.calendar-date {
		cursor: default;
		border: 1px solid #EEE;
		font-weight: 600;
	}
	.calendar-date[data-valid="true"] {
		cursor: pointer;
	}
	.calendar-date[data-valid="true"]:hover {
		background: rgba(0,0,0,0.2);
	}
	.calendar-header {
		text-align: center;
		position: relative;
		line-height: 42px;
		font-size: 16px;
	}
	.calendar-button {
		position: absolute;
		top: 0;
		width: 30px;
		height: 30px;
		padding: 5px;
		border: 1px solid #FFF;
	}
	.calendar-button:hover {
		cursor: pointer;
		background: rgba(0,0,0,0.2);
		border: 1px solid #20c3fd;
		border-radius: 3px;
	}
	.calendar-button svg {
		fill: #07a2d9;
		width: 20px;
		height: 20px;
	}
	.calendar-button-decrease {
		left: 0;
	}
	.calendar-button-decrease svg {
		transform: rotate(180deg);
	}
	.calendar-button-increase {
		right: 0;
	}
	.calendar-is-edge,
	.calendar-is-ok {
		color: #333;
	}
	.calendar-is-outside,
	.calendar-is-other-month {
		color: #DDD;
	}
	.calendar-date[data-state] {
		border-style: double;
	}
	.calendar-date[data-state="pending"],
	.calendar-date[data-state="start"],
	.calendar-date[data-state="end"] {
		background: #07a2d9 !important;
		border-color: #07a2d9;
	}
	.calendar-date[data-state="between"] {
		background: #bfe4f1;
		border-color: #20c3fd;
	}

	
		#position {
		position: relative;
	}

	.calendar {
		background: #FFF;
		box-shadow: 0 0 5px rgba(0,0,0,.4);

		position: absolute;
		z-index: 10;
		top: 100%;
		left: 0;
	}

	.date-input-fallback {
		display: none;
	}

	.js-no-type-date-support .date-input-native {
		display: none !important;
	}

	.js-no-type-date-support .date-input-fallback {
		display: inline-block !important;
	}

	@media ( min-width: 1025px ) {

		.date-input-fallback {
			display: inline-block;
		}
		.date-input-native {
			display: none;
		}
	}
