/*
    Theme Name: Laura
    Theme URL: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
*/

body {
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 400;
  text-transform:uppercase;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  outline: none;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
}

/***********************************
************************************
Responsive media queries
************************************
***********************************/

.header {
  background: url('../img/bg-banner03.jpg') no-repeat fixed;
  background-size: cover;
  min-height: 600px;
  position: relative;
}

.navbar-default {
  background-color:#232370;
  border: 0px;
  padding:0px;
  transition: all 0.3s;
}
	.right-sec p{   
	color: #fff;
    margin: 0px;
    text-align: left;
    margin-left: 18%;}
	.left-sec p{   
	color: #fff;
    margin: 0px;
    text-align: left;
    margin-left: 25%;}
	
.navbar-brand {
  font-size: 36px;
  font-family: 'Satisfy', cursive;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav>li>a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fffde0 !important;
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fffde0 !important;
  background-color: transparent;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
 display:none;
}
.radio input[type=radio], .radio-inline input[type=radio] {
 display:block;
}
@media (max-width: 768px) {
	.navbar-collapse {
		background: rgba(50, 60, 70, 0.9);
	}
}

.top-nav-collapse {
  padding: 0;
  background: #232370);
}

.bg-color {
  background-color:#23237085;
  min-height: 730px;
}

.navbar-border {}

.banner-text {
 /** border-left: 5px solid #BE2525;**/
  padding: 15px 40px;
  color: #fff;
  margin-top:190px;
}

.banner-text h2 {
  font-size: 60px;
  font-weight: 400;
  font-family: 'Questrial', sans-serif;
}
 .banner-text p {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Questrial', sans-serif;
}

.banner-text h2 span {
  font-family: 'Satisfy', cursive;
}

.overlay-detail {
  margin: 0 auto;
}
.st{color:white;}
.overlay-detail a i {
  text-align: center;
  position: absolute;
  bottom: -100px;
  font-size: 24px;
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  border-radius: 50%;
}

.deco {
  font-family: 'Satisfy', cursive;
}

#about {
  background: url('../img/about-banner.jpg') no-repeat;
  background-size: cover;
  margin-bottom: -3px;
  height: 600px;
}

#abouts {
  background: url('../img/about-banners.jpg') no-repeat;
  background-size: cover;
  margin-bottom: -3px;
  height: 600px;
}
.left-color{
  background-color:red;
  opacity: 0.702;
  position: absolute;
  left: 835px;
  top: 1196px;
  width: 515px;
  height: 537px;
  z-index: 76;
}
.btn-primary {
    color: #fff;
    background-color: #232370;
    border-color: #232370;
}
.btn-primary:hover {
    color: #fff;
    background-color: #232370;
    border-color: #337ab7;
}
.section-padding {
  padding: 60px 0px;
}

.title {
  font-size: 24px;
  margin-bottom: 50px;
}

.title-text {
  padding: 0px 25px 0px 0px;
color:white;
    margin-top: 110px;
  font-size: 40px;
}

.about-text p {
  color: #444;
}

.abt-list li {
  padding: 5px 0px;
  font-size: 18px;
  font-weight: 400;
}

#portfolio {
  background-color: #f0f1e9;
}

.grid-padding {
  padding: 0 8px;
}

.grid-padding img {
  margin-bottom: 15px;
}

.padding-right-zero {
  padding-right: 0px !important;
}

#myGrid {
  margin-top: 50px;
}

.test-sec blockquote {
  background: #eee;
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 15px;
  position: relative;
}

.test-sec blockquote::after {
  content: '';
  position: absolute;
  bottom: -14px;
  margin-left: 10px;
  border-top: 14px solid #eee;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid RGBA(0, 0, 0, 0.18);
}

.test-sec .carousel-info span {
  display: block;
}

.test-sec span.testimonials-name {
  color: #62646f;
  font-weight: 600;
  margin: 16px 0 5px;
}

#contact {
  width: 100%;
  background-color: RGBA(8, 7, 7, 0.92);
}

#contact .btn-primary {
  background: #BE2525;
  border: 1px solid #BE2525;
}

.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#sendmessage {
  color: green;
  border: 1px solid green;
  background: #fff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  background: #fff;
}

#sendmessage.show, #errormessage.show, .show {
  display: block;
}

footer {
  padding: 40px 0;
  background: #F2F3EB;
}

.footer a {
  color: #BE2525;
}

.footer__navigation li, .social-list li {
  display: inline-block;
}

.contact-sec h2 {
  font-size: 28px;
  color: #fff;
  font-weight: 600;
  padding: 15px 0px;
}

.footer__navigation li a {
  display: inline-block;
  color: #767676;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
  font-size: 1.2em;
  line-height: 1.625em;
  margin-top: 0;
  margin-bottom: 1.625em;
  padding-right: 10px;
}

.contact-sec p {
  color: #fff;
  font-size: 18px;
  padding: 16px 0px 24px;
}

.contact-sec i {
  padding-right: 15px;
}

.contact-sec a {
  color: #FFF;
  background-color: RGBA(174, 142, 142, 0.7);
  display: inline-block;
  padding: 16px 34px;
  font-size: 18px;
  transition: all 0.5s ease-in 0s;
}

.carousel-info, blockquote {
  float: left;
}

.social-list li {
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  opacity: .5;
  display: inline-block;
  margin: 0;
}

.social-list li a {
  font-size: 28px;
  margin-right: 15px;
}

.type-underline, .type-underline:hover {
  color: #767676;
}

.footer__lower {
  margin-top: 3.25em;
}

.type--fine-print {
  color: #767676;
}

.navbar-toggle {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
}

.navbar-nav>li>a {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navbar-brand {
  margin-top: 9px;
}

.grid-item {
  width: 200px;
}

.grid-item--width2 {
  width: 400px;
}

/***********************************
************************************
Responsive media queries
************************************
***********************************/
.text-left {
    background-color: #3d4168c2;
    padding-top: 15px;
    margin-top: 110px;
    padding-bottom: 54px;
    text-align: center;
    color: white;
    width: 41%;
    margin-left: 8px;
    text-transform: uppercase;
}
.text-left2 {
    background-color: #3d4168c2;
    padding-top: 15px;
    margin-top: 110px;
    padding-bottom: 54px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.count{
    background-color: #232370;
    color: #fff;
	    border-top: 5px solid;
    text-align: center;
    font-size: 25px;
	padding: 30px 0px;
}
.bb{border-right: 2px solid;}
.bc{border-left: 2px solid;}


@media (min-width: 100px) and (max-width: 550px) {
	
	
.bb{  border-left: 0px;
    border-bottom: 2px solid;
    padding: 25px;}		
.bc{  border-left: 0px;
    border-top: 2px solid;
    padding: 25px;}	
.text-left{
    background-color:#3d4168c2;
    padding-top: 1px;
    margin-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
    width: 100%;
    margin-left: 0px;
    text-transform: uppercase;
} 
.text-left2 {
    background-color: #3d4168c2;
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
	margin-top: 0px;
    text-transform: uppercase;
    margin-bottom: 28px;
}
	.right-sec p{   
	color: #fff;
    margin: 0px;
    text-align: left;
    margin-left: 0%;}
	.left-sec p {
    color: #fff;
    margin: 0px;
    text-align: left;
    margin-left: 0%;
}
.banner-text h2 {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Questrial', sans-serif;
}
#about{

	background: url(../img/about-banner.jpg) no-repeat;
    background-size: cover;
    margin-bottom: -3px;
    height: 600px;}
 .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-brand {
    margin-top: 0px;
  }
  .carousel-info {
    margin-bottom: 30px;
  }
  .type--fine-print {
    text-align: center;
  }
  .text-center-xs {
    text-align: center !important;
  }
  .social-list {
    margin-bottom: 15px;
  }
  .banner-text h2,{
    font-size: 20px;
  }
  .banner-text p {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Questrial', sans-serif;
}
  .title-text {
    margin-bottom: 6px;
    margin-top: 0px;
    font-size: 25px;
  }
}
/*==========================================
footer
==========================================*/
.footer {
    background: #222;
    padding: 50px 0;
    border-top: 5px solid #fff;
}
.foot-title {
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: 1px solid #333;
    margin: 0 auto 20px;
}
.foot-link { position: relative;}
.foot-link p { color: #c3c3c3;}
.foot-link li { transition: all 0.5s; padding: 4px 0;}
.foot-link li a { transition: all 0.5s; font-size: 15px; color: #ccc;    text-transform: none; }
.foot-link.service li a { position: relative; text-transform: uppercase;}
.foot-link.service li a:before {transition: all 0.5s; content: ''; position: absolute; top: 50%; margin-top: -1px; left: 0; background: #fff; width: 0; height: 1px; }
.foot-link li span {transition: all 0.5s; font-size: 14px; color: #ccc; }
.foot-link li:hover a { color: #fff;     }
.foot-link.service li:hover a { padding-left: 10px; color: #fff;     }
.foot-link li:hover a:before { width: 5px;     }
.foot-link li:hover span { color: #fff;     }
.foot-link .btn-black {
    background: #393939;
    padding: 5px 25px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    margin-top: 15px;
    border-radius: 4px;
    font-size: 14px;
}
.foot-con li{
margin-bottom:10px;
}
.foot-con li:last-child{
margin-bottom:0px;
}

.foot-con li a span, .foot-con li p span  {
    font-size: 18px;
}

.foot-blk { background:#151515; text-align: center;}
.foot-blk p {
    color: #c3c3c3;
    margin: 0;
    font-size: 14px;
    padding: 15px 0;
}

/*=============================================
social icon
=============================================*/
.social-icon { margin-top: 20px;}
.social-icon ul li {
    transition: all 0.8s ease 0s;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    padding: 3px 0;
}
.social-icon ul li:hover { border-color: #fff;}
.foot-link li p span {
    margin-right: 15px;
}
.foot-link li a span {
    margin-right: 15px;
}
.social-icon li a span {
    margin-right: 0;
    font-size: 16px;
    color: #c3c3c3;
}
.social-icon li a { padding:0; }
/*=============================================
social icon end
=============================================*/


/*=============================================
hiring inner page
=============================================*/
.page-header {
    position: relative;
       background: url(../images/page-header.jpg) top left no-repeat;
    background-size: cover;
    margin: 0;
    border:none;
	    padding: 90px 0 100px;
}
.page-header .page-title {
    text-align: center;
    color: #fff;
    font-size: 50px;
	font-weight:700;

}
.guard-hiring-header {
    background: url(../images/guard-hiring-header.jpg) top left no-repeat;
    background-size: cover;
}

.ex-force-header {
    background: url(../images/ex-force-header.jpg) top left no-repeat;
    background-size: cover;
}

.white-collar-header {
    background: url(../images/white-collar-header.jpg) top left no-repeat;
    background-size: cover;
}

.hiring-pg-header{
    padding: 100px 0 185px;
}
.page-header .searchbar {
    background: rgba(0,0,0,0.3);
    padding-top: 25px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.page-header .searchbar .form-control:focus {
    border-color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.page-header .searchbar .btn-blue { font-size: 18px;}

.result-list {
    background: #fff;
    padding: 15px 0 0;
    box-shadow: none;
    width: calc(100%/2 - 20px);
    float: left;
    margin: 10px;
    border: 1px solid #eee;
    height: 353px;
    overflow-y: auto;
    transition: all 0.5s;
}

.result-list:hover {
    background: #fff;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.2);
        border: 1px solid #fff;
    transition: all 0.5s;
}
.result-list-img {
    width: 15%;
    height: auto;
    float: left;
    margin-right: 15px;
    overflow: hidden;
    max-height: 100px;
}

.result-list-img img {
    width: 100%;
    /*border-radius: 50%;*/
}


.result-list-con {
    width: 85%;
    float: left;
    margin-right: -15px;
}

.result-list-con .job-title {
    float: left;
    margin-right: 10px;
    transition: all 0.5s;
    text-transform: capitalize;
    font-size: 16px;
    width: 65%;
    line-height: 26px;
    min-height: 52px;
    margin: 6px 10px 6px 0 !important;
    align-items: center;
    display: flex;
}


.result-list-con .job-location {
float: left;
margin-right: 7px;
margin-top: 18px;
border: 1px solid #ddd;
padding: 5px;
font-size: 12px;
}

.result-list-con h5 span {
    color: #0090e9;
    margin-right: 5px;
}

.result-list-con .job-employer {

    float: right;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 18px 0 0;

}
.result-list-con .job-info {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    float: left;
    width: 100%;
    font-size: 12px;
color: #333;
font-weight: 500;
}
.result-list-con .job-info:last-child{
    border-bottom:none;
    padding-bottom: 15px;
}
.result-list-con .job-info p{
margin: 0;
font-size: 12px;
color: #333;
}

.rating span {
    display: inline-block;
    color: #ffa801;
    font-size: 18px;
    margin-right: 5px;
}
.rating span:last-child {
    margin-right: 0;
}
.rating {
    position: relative;
    padding: 36px 0;
}
.rating:before {
    position: absolute;
    width: 1px;
    height: 120px;
    content: "";
    left: -14px;
    top: -15px;
    background:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+25,000000+50,e5e5e5+75&0+0,0.5+50,0+100 */
background: -moz-linear-gradient(top, rgba(242,242,242,0) 0%, rgba(242,242,242,0.25) 25%, rgba(0,0,0,0.5) 50%, rgba(229,229,229,0.25) 75%, rgba(229,229,229,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(242,242,242,0) 0%,rgba(242,242,242,0.25) 25%,rgba(0,0,0,0.5) 50%,rgba(229,229,229,0.25) 75%,rgba(229,229,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(242,242,242,0) 0%,rgba(242,242,242,0.25) 25%,rgba(0,0,0,0.5) 50%,rgba(229,229,229,0.25) 75%,rgba(229,229,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2f2f2', endColorstr='#00e5e5e5',GradientType=0 ); /* IE6-9 */
}
.rating:after {
    position: absolute;
    width: 1px;
    height: 120px;
    content: "";
    right: -14px;
    top: -15px;
    background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+25,000000+50,e5e5e5+75&0+0,0.5+50,0+100 */
background: -moz-linear-gradient(top, rgba(242,242,242,0) 0%, rgba(242,242,242,0.25) 25%, rgba(0,0,0,0.5) 50%, rgba(229,229,229,0.25) 75%, rgba(229,229,229,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(242,242,242,0) 0%,rgba(242,242,242,0.25) 25%,rgba(0,0,0,0.5) 50%,rgba(229,229,229,0.25) 75%,rgba(229,229,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(242,242,242,0) 0%,rgba(242,242,242,0.25) 25%,rgba(0,0,0,0.5) 50%,rgba(229,229,229,0.25) 75%,rgba(229,229,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2f2f2', endColorstr='#00e5e5e5',GradientType=0 ); /* IE6-9 */
}
.exp-btn {
    padding: 0;
    margin-top: 14px;
}
.pagination {
    margin: 20px 0;
    text-align: center;
    width: 100%;
}





.reg_heading {
  
  position: relative;
  padding-bottom: 15px;
  font-weight: 400;
}
.width_20_per {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 414px)
{
.width_20_per {
    float: left;
}
.width_20_per {
    width: 25%;
}

}
.modal-body .group {
  background: none;
  padding-left: 0px !important;
}
.nav-tabs {
  border: none;
}
.line-div {
  position: absolute!important;
  top: 0!important;
  text-align: center;
  width: 100%;
  top: 0;
  font-size: 22px;
  padding-top: 2px;
  height: 100%;
  box-sizing: border-box;
  color: #CCC4C4;
}
.tab-con {
  text-align: center;
  position: relative;
  background: rgba(43, 93, 165, 0.69);

}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: #292946!important;
        font-weight: 600;
        cursor: default;
        border: 2px solid #292946!important;
        background: transparent;
        border-bottom: 0!important;
    }
.reg_right .nav > li > a {
  color: #ffffff !important;
  border-bottom: 2px solid #292946;
}
.nav-tabs > li > a {
  margin-right: 0px!important;
  color: #fff!important;
}
.nav > li {
  padding: 0;
}
.nav-tabs > li > a {
  border: 0px solid transparent!important;
  border-bottom: 2px solid #292946!important;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  color: #292946!important;
  background: transparent!important;
}
.modal-body-login {
  background: transparent!important;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  color: white;
  border-color: transparent;
}
.closePage {
  float: right;
  position: absolute;
  top: -18px;
  right: 0;
  font-size: 50px;
  font-weight: 300;
  color: #5f5454;
  cursor: pointer;
}
.closePage:hover {
  color: #000;
}
.block {
  font-family: Helvetica Light !important;
  background-image: url('../images/sme_reg/bg-register.png');
  background-size: cover;
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  margin-top: -22px;
}
.blocksme {
  font-family: Helvetica Light !important;
  background-image: url('../images/sme_reg/bg-register.png');
  background-size: cover;
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  margin-top: -41px;
}
.paddingLRZero {
  padding-left: 0;
  padding-right: 0;
}
.captch_display {
  text-align: center;
  margin-left: 48%;
  -webkit-transform: translate(-50%);
}
.btnRegister {
  background: #242443 !important;
margin:10px 0 20px 0;
  border-radius: 0;
  color: #fff;
  padding: 6px 50px;
}
.input-md {
border: 1px solid #0000ffa8;
    border-radius: 3px;
}
p {
  margin: 0.8em 0;
  padding: 0;
}/**
input[type="checkbox"] {
  display: none;
}**/
label {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  border: 1px solid #fff;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 2px 0.8em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
  background: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.56);
}
input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: #000;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}
.dropdown p {
  display: inline-block;
  font-weight: bold;
}
.checkbox label a {
  color: black;
  text-decoration: underline;
}
.reg-right .checkbox label {
  padding-left: 0 !important;
    text-transform: none;
}
.width_20_per img {
  padding: 7px;
  border-radius: 5px;
}
.width_20_per {
  padding: 0px !important;
}
.reg-left span.ultralight {
  color: #000;
  font-weight: 400;
  font-family: 'Bariol' !important;
}
.block-con {
  width: 100%;
  position: relative;
  float: left;
  background: rgba(255, 255, 255, 0.61);
  height:auto!important;
  padding-top:100px;
}
.block-con .reg-left {
  padding: 20px 60px;
  float: left;

}
.reg-left .btn-apply{
    color: white;
    background: #45a6f6;
    width: auto;
}
.block-con .reg-left .user-option {
    position: relative;
    width: 100%;
    padding: 5px 10px 5px 30px;
    border-bottom: 1px solid rgb(243, 181, 69);
}
.block-con .reg-left .user-option b {
  font-size: 13px;
  font-family: 'Bariol' !important;
}
.block-con .reg-left .user-option .reg_heading {
    margin: 0 !important;
    padding-bottom: 10px !important;
    padding-top: 10px;
}
.block-con .reg-left .user-option .icon {
    height: 24px;
    /* width: 30px; */
    position: absolute;
    left: 0;
    top: 16px;
    border-radius: 50%;
}
.block-con .reg-right {
  padding: 15px 60px;
    border: 1px solid;
	    margin-bottom: 50px;
}
.block-con .reg-right.individual_reg {
  background: rgba(69, 166, 245, 0.6) !important;
}
.block-con .reg-right select {
  font-family: 'Bariol';
  font-weight: 600;
  background-image: url("../img/downArrow.png") !important;
  background-position: right 10px center;
  background-size: 16px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
section {
  float: left;
  width: 100%;
}
.headers {
    background: url(../img/bg-banner03.jpg) no-repeat fixed;
    background-size: cover;
    min-height: 1150px;
    position: relative;
}
@media (max-width: 1000px) {
	
.headers {
    background: url(../img/bg-banner03.jpg) no-repeat fixed;
    background-size: cover;
    min-height: 1150px;
    position: relative;
}	
  .block-con .reg-left {
    padding: 30px;
  }
  .width_20_per {
        padding: 10px !important;
  }
  .block-con .reg-right {
    padding: 30px;
  }
  .captch_display {
    text-align: center;
    -webkit-transform: translate(0%);
    margin-left: 15px!important;
  }

   .blocksme, .block, .block-con .reg-right, .block-con .reg-right.individual_reg{
    height: auto;
   }
   a .btnRegister {
        padding:4px 15px!important;
        margin-bottom:10px!important;
    }
    #recaptcha1>div {
        margin-left: 45%;
        -webkit-transform: translateX(-50%);
    }
}

	.table-wrapper {
        background: #fff;
        //padding: 20px;
        //margin: 30px 0;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
	.table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }
    .table-title h2 {
        margin: 8px 0 0;
        font-size: 22px;
    }
    .search-box {
        position: relative;        
        float: right;
    }
    .search-box input {
        height: 34px;
        border-radius: 20px;
        padding-left: 35px;
        border-color: #ddd;
        box-shadow: none;
    }
	.search-box input:focus {
		border-color: #3FBAE4;
	}
    .search-box i {
        color: #a0a5b1;
        position: absolute;
        font-size: 19px;
        top: 8px;
        left: 10px;
    }
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }
    table.table-striped tbody tr:nth-of-type(odd) {
    	background-color: #fcfcfc;
	}
	table.table-striped.table-hover tbody tr:hover {
		background: #f5f5f5;
	}
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table td:last-child {
        width: 130px;
    }
    table.table td a {
        color: #a0a5b1;
        display: inline-block;
        margin: 0 5px;
    }
	table.table td a.view {
        color: #03A9F4;
    }
    table.table td a.edit {
        color: #FFC107;
    }
    table.table td a.delete {
        color: #E34724;
    }
    table.table td i {
        font-size: 19px;
    }    
    .pagination {
        float: right;
        margin: 0 0 5px;
    }
    .pagination li a {
        border: none;
        font-size: 95%;
        width: 30px;
        height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 30px !important;
        text-align: center;
        padding: 0;
    }
    .pagination li a:hover {
        color: #666;
    }	
    .pagination li.active a {
        background: #03A9F4;
    }
    .pagination li.active a:hover {        
        background: #0397d6;
    }
	.pagination li.disabled i {
        color: #ccc;
    }
    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }
    .hint-text {
        float: left;
        margin-top: 6px;
        font-size: 95%;
    } 


.team{
    padding:75px 0;
}
h6.description{
	font-weight: bold;
	letter-spacing: 2px;
	color: #232370;
	font-size: 25px;
	border-bottom: 1px solid #232370;
	padding-bottom: 5px;
}
.profile{
	margin-top: 25px;
}
.profile h1{
	font-weight: normal;
	font-size: 20px;
	margin:10px 0 0 0;
 text-transform: none;
}
.profile h2{
	font-size: 14px;
	font-weight: lighter;
	margin-top: 5px;
    text-transform: none;
}
.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile .img-box:after{
	content:"";
	opacity: 0;
	
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.img-box ul{
	position: absolute;
	z-index: 2;
	bottom: 50px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
	height: 0px;
	margin:0px;
	opacity: 0;
}
.profile .img-box:after, .img-box ul, .img-box ul li{
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img-box ul i{
	font-size: 20px;
	letter-spacing: 10px;
}
.img-box ul li{
	width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #88C425;
    margin: 2px;
    padding: 5px;
	display: inline-block;
}
.img-box a{
	color:#fff;
}
.img-box:hover:after{
	opacity: 1;
}
.img-box:hover ul{
	opacity: 1;
}
.img-box ul a{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.img-box a:hover li{
	border-color: #fff;
	color: #88C425;
}
a{
    color:#232370;
}
a:hover{
    text-decoration:none;
    color:#232370;
}
i.red{
    color:#BC0213;
}
.form-group {
    margin-bottom: 15px;
    text-transform: none;
}
.text-uppercase {
    text-transform: none;
}
.wrapper{margin-top: 100px;}
.texts{    text-transform: none;}
